/* ---- Chionesu's Preferred Overrides ---- */
body { margin-left:10px; margin-right:auto; font-size:12pt; width:100% !important; max-width: 1200px !important;}
pre  { display: none; }
table { margin-bottom: 1em; border:solid 2px #888888; }
td{ padding: 0.25em; border:solid 1px #DDDDDD; }
sup { font-size: 0.7em; color:#995522; }
a { color: #333399; }
p { margin-top: 0.75em; margin-bottom: 0.75em; }
figcaption { font-size:0.5em; word-wrap: normal; text-overflow:word-break; }
.math { color:#333393; }

/* ---- RMarkdown-specific Rules ---- */
a[aria-expanded='true'] { color:#5555FF; }
a[role='tab'] { font-size: 13pt; color: #CCCCCC; }
a[role='tab']:hover { color: #000000; }

.pagedtable { border:none; }
.listHeader { font-size:larger; font-weight: bold; }
.container-fluid .main-container { margin:auto !important; width:100% !important; }

/* ---- Toggle/Custom Content Rules ---- */
hint, term { font-variant:small-caps; }
hint { color: #EE9977; font-weight:bold; font-size: 8pt; font-family: Georgia; }
comment { color:#339933; font-family:Times; }

[role='toggle']:hover { cursor: pointer; font-weight: bold; }
.first{ font-variant:small-caps; font-weight:bold; background-color:#EFF4FA; }
.quote {font-family:times; color:#234234}
.sidebar { float:right; width:240px; background-color:#EFF4FA; padding:5px; margin:0 0 10 25; }
.sidebar > term { background-color:#555555; color:#CCCCEE; padding:5px; margin-right:5px; }

code {font-size: 10pt; }
blockquote { display:block; }

.optional { background-color:#FFEFFF; margin-left:20px; margin-bottom: 10px; border-left:#FFFFEF; }
.quote { font-family:Georgia; font-style:italic; }
.ref {color: green;}