<style>
:root {
  --pale: #DEDEDE;
  --offwhite: #FFFFEF;
  --pine: #234234;
  --gray: #555555;
  --lightGray: #CCCCCC;
  --coolPurple: #3333DD55
  --footerBg: #DDDDDD; 
  --footerBorder: #BBB;
  
  --theme_background: #333;
  --theme_font_color: #CDECDE;
}

/* :::::: FIXED RULES :::::: */
blockquote {
  display:block; 
}

pre  {
  display: none; 
}

hr {
  width:100%; 
  border-top: 5px;
}

sup { 
  font-size: 0.7em; 
  color:#995522; 
}

a {
  color: var(--coolPurple); 
}

/* Toggle Content */
hint, term {
  font-size: 14pt; 
  font-family: Georgia; 
  text-decoration: underline;
}

hint:hover {
  cursor: pointer; 
  font-weight: bold; 
}

/* Rmarkdown */
.container-fluid .main-container .wrapper { 
  margin:auto !important; 
  width:100% !important; 
}

.wrapper { 
  overflow: auto;
}

.article {
  background-color: #EFEFEF; 
  display:block;
  padding:20px; 
  border-radius: 20px
  display: inline;
}

.content {
  width: 100% !important;
  max-width: 960px !important;
  align: center;
}

.bigMath span {
  font-size: 25pt;
}

.medMath span {
  font-size: 20pt;
}

[class^="medM"] {
  border-bottom: solid 3px green;
}
.mathblock {
  margin-left:5%;
  padding-left:20px;
  margin-top: 5px;
  padding-right: auto;
  display:block;
  max-width: 60%;
  color: #111111;
  border-left: solid 5px var(--pine);
}

[id ~= "htmlwidget"] {
  z-index:2;
  width:120%;
}
/* ::::::::: <END> :::::::: */

/* :::::: THEMED RULES :::::: */
body {
  background-color: var(--theme_background);
  color: var(--theme_font_color);
}

comment {
  color: var(--pine); 
  font-family:Times; 
}

.warning {
  background-color:#DFDFDFEE; 
  border-top: solid 2px #AA0000; 
  border-bottom: solid 2px #AA0000;
  
}

.first{
  font-variant:small-caps; 
  font-weight:bold; 
  background-color:#EFF4FA; 
}

.sidebar {
  float:right; 
  display:block;
  width:240px; 
  background-color:#EFF4FA; 
  padding:5px; 
  margin:0 0 10 25; 
}
  
.sidebar > term {
  background-color: var(--gray); 
  color:#CCCCEE; 
  padding:5px; 
  margin-right:5px; 
}

.definition {
  display:block; 
  font-style: italic;
  font-family: Georgia;
  color: var(--coolPurple); 
  background-color: var(--pale); 
  border-top: var(--coolPurple); 
  border-bottom: var(--coolPurple); 
}

.optional {
  background-color:#FFEFFF; 
  margin-left:20px; 
  margin-bottom: 10px; 
  border-left: var(--gray); 
}

.quote {
  font-family:Georgia; 
  font-style:italic; 
  color: var(--pine)
}

.ref {color: green;}

/* ::::::::: <END> :::::::: */
</style>