hr { border: solid 2px #CCCCCC;  }

body {font-size:12pt; }

td > .container { width:400px; }

#evs_params_table {
  border: none;
  margin-bottom: 10px; 
  padding:10px 15px 10px 20px; 
}

.evs_params {
  padding: 10px;
}

#req_libs_table {
  width:600px; 
  border-spacing:20px; 
  border:none;
}

a[role="tab"].active {
  background-color:#DDD;
}

.req_libs,.evs_params {
  border-radius: 15px; 
  text-align: center; 
  border-radius: 15px;
  border: none; 
}

.cran_libs{
  background-color:#EEFFFE; 
}
  
.git_libs,.evs_params {
  background-color:lightgray; 
  word-wrap: 
  break-word;
}

.cran_libs > span:hover  { 
  color: #FF9;
}

.git_libs > span:hover { 
  color: #000;
}

.git_libs {
  padding-left: 5px;
  padding-right: 5px;
}
.multi_stat {width:330px; }